button {
    color: white !important;
    margin: 3px;
    line-height: 1 !important;
    font-weight: 600 !important;
    font-style: italic;
    opacity: .4;
}

button:hover, .opacity-1 {
    opacity: 1;
}

span.font-inner-shadow {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 0px white;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

span.capitalize {
    text-transform: capitalize;
}

img.pokemon-thumb {
    width: 85%;
    transition: 0.25s;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}

img.pokemon-thumb:hover {
    width: 100%;
}

span.pokemon-name {
    font-size: 3em;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-style: italic;
    margin: auto 0;
}

span.pokemon-number {
    font-size: 56px;
    line-height: 50px;
    letter-spacing: -0.114em;
    font-weight: 900;
   }

div.pokemon-box {
    background-color: gray;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    margin-bottom: 5px;
}

div.pokemon-box:hover {
    border: 3px solid darkgray;
}

button.fire {
    background-color: #f08030;
}

.stars {
    opacity: 0.4;
}

.stars:hover {
    opacity: 1;
}

.stars0-3 {
    color: #ee9219;
}

.stars4 {
    color: #e18079;
}

button.grass {
    background-color: #78c850;
}

button.water {
    background-color: #6890f0;
}

button.rock {
    background-color: #bda55a;
}

button.ground {
    background-color: #e0c068;
}

button.ghost {
    background-color: #6363b5;
}

button.fairy {
    background-color: #ee99ac;
}

button.psychic {
    background-color: #f85888;
}

button.bug {
    background-color: #a8b820;
}

button.poison {
    background-color: #b55aa5;
}

button.ice {
    background-color: #98d8d8;
}

button.steel {
    background-color: #b8b8d0;
}

button.dragon {
    background-color: #7038f8;
}

button.flying {
    background-color: #6363b5;
}

button.dark {
    background-color: #735a4a;
}

button.normal {
    background-color: #a8a878;
}

button.fighting {
    background-color: #c03028;    
}

button.electric {
    background-color: #f8d030;    
}