button {
    color: white !important;
    margin: 3px;
    line-height: 1 !important;
    font-weight: 600 !important;
    font-style: italic;
    opacity: .4;
}

button:hover, .opacity-1 {
    opacity: 1;
}

span.capitalize {
    text-transform: capitalize;
}

img.pokemon-thumb {
    height: 60%;
    width: 60%;
    transition: 0.25s;
}

img.pokemon-thumb:hover {
    height: 80%;
    width: 80%;
}

div.pokemon-boxes {

}

div.pokemon-box {
    background-color: gray;
    width: 25%;
    height: 25%;
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.25s;
    cursor: pointer
}

div.pokemon-box:hover {
    width: 27%;
    height: 27%;
    border: 3px solid yellow;
}


button.fire {
    background-color: #f08030;
}

.stars {
    opacity: 0.4;
}

.stars:hover {
    opacity: 1;
}

.stars0-3 {
    color: #ee9219;
}

.stars4 {
    color: #e18079;
}

button.grass {
    background-color: #78c850;
}

button.water {
    background-color: #6890f0;
}

button.rock {
    background-color: #bda55a;
}

button.ground {
    background-color: #e0c068;
}

button.ghost {
    background-color: #6363b5;
}

button.fairy {
    background-color: #ee99ac;
}

button.psychic {
    background-color: #f85888;
}

button.bug {
    background-color: #a8b820;
}

button.poison {
    background-color: #b55aa5;
}

button.ice {
    background-color: #98d8d8;
}

button.steel {
    background-color: #b8b8d0;
}

button.dragon {
    background-color: #7038f8;
}

button.flying {
    background-color: #6363b5;
}

button.dark {
    background-color: #735a4a;
}

button.normal {
    background-color: #a8a878;
}

button.fighting {
    background-color: #c03028;    
}

button.electric {
    background-color: #f8d030;    
}