@import 'types.scss';
@import 'colors.scss';

@each $color in $color-combination1 {
    $i: index($color-combination1, $color);
    .main-bg-#{$i} {
        background-color: nth($color-combination1, $i );
        color: nth($color-combination2, $i)
    }
}

@each $type, $color in $types {
    .#{$type} {
        background-color: #{$color};
    }
}


button.filters {
    color: white !important;
    margin: 3px;
    line-height: 1 !important;
    font-weight: 600 !important;
    font-style: italic;
    opacity: .4;
}

div.string-container {
    z-index: 100;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
}

button:hover, .opacity-1 {
    opacity: 1 !important;
}

.centralize {
    margin: auto;
}

div {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }

span.font-inner-shadow {
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 0px white;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
}

.capitalize {
    text-transform: capitalize;
}

img.pokemon-thumb {
    width: 40%;
    border-radius: 25px;
    /* background: radial-gradient(circle at top, darkgreen 0, green, lightgreen 100%); */
    margin: 0 auto;
}

span.pokemon-name {
    font-size: 1.3em;
    letter-spacing: 0.15em;
    font-weight: bold;
    font-style: italic;
    margin: auto 0;
}

span.pokemon-number {
    font-size: 40px;
    letter-spacing: -0.114em;
    font-weight: 900;
   }

div.pokemon-box {
    margin-top: 5px;
    border-radius: 50px;
    transition: 0.25s;
    cursor: pointer;
    border: 3px solid transparent;
}

div.pokemon-box:hover {
    border: 3px dashed #{$color2};
}

.stars {
    opacity: 0.4;
}

.stars:hover {
    opacity: 1;
}

.stars0-3 {
    color: #ee9219;
}

.stars4 {
    color: #e18079;
}