$types: (
    fighting: (#c03028),
    normal: (#a8a878),
    dark: (#735a4a),
    flying: (#6363b5),
    dragon: (#7038f8), 
    steel: (#b8b8d0),
    ice: (#98d8d8),
    poison: (#b55aa5),
    bug: (#a8b820),
    fire: (#f08030),
    grass: (#78c850),
    water: ( #6890f0),
    ghost: (#6363b5),
    ground: (#e0c068),
    rock: (#bda55a),
    fairy: (#ee99ac),
    psychic: (#f85888),
    electric: (#f8d030),
);